
main{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative; 
  padding-top: 5%;
  padding-bottom: 18%;
  background-color: rgb(189, 72, 72);
  
  
}
.table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  max-width: 50rem;
  margin: auto;
}

.card {
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  border-radius: 0.3em;
  background-image: var(--gradient);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  background-color: wheat;
  
}
.card__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(253, 223, 88);
  transform: rotateY(-180deg) translateZ(1px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding-top: 0.4rem;
  
  
  
  
}
.card__content::selection {
  background: transparent;
}

.card.uncovered {
  transform: rotateY(-180deg);
}

@keyframes error {
  10%,
  90% {
    transform: rotateY(-180deg) translateX(-1px);
  }
  20%,
  80% {
    transform: rotateY(-180deg) translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: rotateY(-180deg) translateX(-4px);
  }
  40%,
  60% {
    transform: rotateY(-180deg) translateX(4px);
  }
}

@keyframes success {
  from {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 1;
  }

  25% {
    transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
    opacity: 1;
  }

  to {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 0;
  }
}

.accurate {
  pointer-events: none;
}

.accurate .card__content {
  animation: success 1.3s ease-in-out forwards;
}

.error {
  animation: error 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}









body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("https://user-images.githubusercontent.com/62361039/103285701-28719880-49df-11eb-8691-7f77accac6e5.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card1 {
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  border-radius: 0.3em;
  background-image: var(--gradient);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: 0.3s;
  backface-visibility: hidden;
}
#contador {
  
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  display: flex;
}

.contador {
  
  width: 110px;
  margin: 5%;
  float: none;
}

.contador p {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  color: wheat;
}
.contador span {
  box-sizing: border-box;
  display: block;
  font-size: 50px;
  font-weight: 600;
  padding-top: 20px;
  color: white;
  overflow: hidden;
  margin: auto;
  /* background-color: blueviolet; */
}

.time {
    background-color: rgb(189, 72, 72);
    
}
.container {
margin-right: 130px;
margin-left: auto;
}

.h4, h4{
    font-size: 50px;
    text-align: center;
    color: wheat;
}
.counter-num{
    font-size: 30px;
    text-align: center;
    color: wheat;
}